/*importo la familia de fuente Be Vietnam Pro de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');

/*importo la biblioteca de iconos de fontawesome*/
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

*{                      /*declaro las buenas practicas de css para el documento*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #242E52;
    --color-2: #F3603B;
    --color-3: #232C50;
    --color-4: #000;
    --color-5: #B3B2B7;
    --color-6: #343A40;
    --color-7: #fff;
    --color-8: #fafafa;
    --sombra-1: 0px 4px 8px rgba(242, 97, 59, 0.5);
    --sombra-2: 0px 4px 8px rgba(0, 0, 0, 0.25);

    /*declaro las variables para los colores y las sombras por si quiero cambiar de paleta en algun momento*/
}


html{                     /*declaro el font-size en todo el html para ganar accecibilidad en la pagina*/
    font-size: 62.5%;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    /*declaro que las familias de fuente sean Be Vietnam Pro y sans-seriff por si no puede acceder a la fuente online*/
}

/* empiezo diseñando el mobile-first */

header{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 4.5rem 10vw;
}

header nav{
    display: none;
}

body header .getstarted{
    display: none;
}

.getstarted{
    background-color: var(--color-2);
    border-radius: 5rem;
    box-shadow: var(--sombra-1);
    color: var(--color-7);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding: 1.25rem 3.05rem;
}

.menu-nav ul{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2.8rem;
    list-style: none;
}

.menu-nav ul li a{
    color: var(--color-1);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-decoration: none;
}

.fa-bars{
    font-size: 2rem;
}

.presentation{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin-bottom: 10rem;
    padding: 0px 10vw;
}

.box-izquierda{
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.box-izquierda h2{
    color: var(--color-3);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
}

.box-izquierda p{
    color: var(--color-5);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 2.8rem;
    margin-top: 2.8rem;
    text-align: center;
}

.box-izquierda div{
    margin: 0rem auto;
}

.box-derecha{
    align-items: center;
    width: 100%;
}

.box-derecha img{
    max-width: 100%;
}

.description{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin-bottom: 5rem;
    padding: 0px 10vw;
}

.box-izquierda2 h3{
    color: var(--color-3);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;
}

.box-izquierda2 p{
    color: var(--color-5);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-bottom: 2.8rem;
    margin-top: 2.8rem;
    text-align: center;
}

.list{
    display: flex;
    flex-flow: column wrap;

}

.list .num{
    background-color: var(--color-2);
    border-radius: 3rem;
    box-shadow: var(--sombra-1);
    color: var(--color-7);
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7rem;
    padding: 0.5rem 1.5rem;
}

.list .header{
    align-items: center;
    background-color: #fac0b1;
    border-radius: 3rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.header h4{
    color: var(--color-3);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-left: 1rem;
}

.list p{
    color: var(--color-5);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: justify;
}

.opinions{
    width: 100%;
}

.opinions h4{
    color: var(--color-1);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10rem;
    text-align: center;
}

.opinions .cont-opinions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0rem 5vw 2.5rem;
}

.opinions .cont-opinions .card-opinions{
    background-color: var(--color-8);
    position: relative;
    width: 33.75rem;
}

.opinions .cont-opinions .card-opinions h5{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin: 5.6rem auto 2rem;
    text-align: center;
}

.opinions .cont-opinions .card-opinions p{
    color: var(--color-5);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0rem 2.1rem 3.8rem;
    text-align: center;
}

.opinions .cont-opinions .card-opinions .profilepic1{
    background-image: url('../img/avatar-ali.png');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 7rem;
    left: 13.3rem;
    position: absolute;
    top: -3.5rem;
    width: 7rem;
}

.opinions .cont-opinions .card-opinions .profilepic2{
    background-image: url('../img/avatar-anisha.png');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 7rem;
    left: 13.3rem;
    position: absolute;
    top: -3.5rem;
    width: 7rem;
}

.opinions .cont-opinions .card-opinions .profilepic3{
    background-image: url('../img/avatar-richard.png');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 7rem;
    left: 13.3rem;
    position: absolute;
    top: -3.5rem;
    width: 7rem;
}

#mobile-oculto1, #mobile-oculto2{
    display: none;
}

.side-scroll{
    color: var(--color-2);
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.opinions .center{
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
    margin-top: 2rem;
}

.getstarted2{
    background-color: var(--color-7);
    border-radius: 5rem;
    box-shadow: var(--sombra-2);
    color: var(--color-2);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.9rem;
    padding: 1.25rem 3.05rem;
}

.main-end{
    align-items: center;
    background-color: var(--color-2);
    display: flex;
    flex-flow: column wrap;
    padding: 4rem 5rem;
}

.main-end .text-cont h4{
    color: var(--color-7);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.7rem;
    margin-bottom: 4rem;
    text-align: center;
}

footer{
    align-items: center;
    background-color: var(--color-4);
    color: var(--color-7);
    display: flex;
    flex-flow: column wrap;
    gap: 4.5rem;
    padding: 4rem 2rem;
}

footer .footer-nav{
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: space-around;
}

footer ul{
    font-size: 1.6rem;
    line-height: 3.5rem;
    list-style: none;
}

footer a{
    color: var(--color-7);
    font-weight: 300;
    text-decoration: none;
}

.social-media{
    display: flex;
    flex-flow: row wrap;
    font-size: 2.5rem;
    gap: 4rem;
    justify-content: space-around;
}

form input{
    border-radius: 5rem;
    font-size: 1.3rem;
    height: 4.4rem ;
    padding: 1rem;
    width: 20rem;
}

form button{
    background-color: var(--color-2);
    border-radius: 5rem;
    box-shadow: var(--sombra-1);
    color: var(--color-7);
    font-size: 1.3rem;
    height: 4.4rem ;
    margin-left: 1rem;
    padding: 1rem 2rem;
}

.logo-redes{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    gap: 4.5rem;
}
footer p{
    color: var(--color-5);
}


/* agrego pseudoclases para aumentar la interactividad del sitio */

.getstarted:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.getstarted:active{
    background-color: #242E52;
    opacity: 0.8;
}

.getstarted2:hover{
    background-color: var(--color-3);
    color: var(--color-7);
    transform: scale(1.1);

}

.getstarted2:active{
    background-color: var(--);
    opacity: 0.8;
}

form button:hover{
    background-color: var(--color-8);
    box-shadow: var(--sombra-2);
    color: var(--color-2);
    transform: scale(1.1);
}

form button:active{
    background-color: var(--color-8);
    box-shadow: var(--sombra-2);
    color: var(--color-2);
    opacity: 0.6;
}
footer a:hover{
    color: var(--color-5);
}


/*
declaro las media queries para cuando el viewport supere los 1000 pixeles
ya que sirve para la separacion requerida en el trabajo
*/

@media screen and (min-width: 1000px){
    header{
        padding: 6.5rem 11.5vw;
    }
    header nav{
        display:flex ;
    }
    body header .getstarted{
        display: inline-block;
    }
    .fa-bars {
        display: none;
    }
    .presentation{
        align-items: center;
        flex-direction: row-reverse;
        gap: 2%;
        justify-content: space-between;
        margin-bottom: 10rem;
        padding: 0 11.5vw;
        width: 100%;
    }
    .box-izquierda h2{
        font-size: 5.8rem;
        line-height: 6.6rem;
        text-align: left; 
    }
    .box-izquierda p{
        color: var(--color-4);
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-right: 8.6rem; 
        text-align: left;
    }
    .box-izquierda div{
        margin: 0;
    }
    .box-derecha{
        width: 49%;
    }
    .box-izquierda{
        width: 49%;
    }
    .description{
        align-items: center;
        flex-direction: row;
        gap: 2%;
        justify-content: space-between;
        margin-bottom: 12rem;
        padding: 0 11.5vw;
        width: 100%;
    }
    .box-derecha2{
        width: 49%;
    }
    .box-izquierda2{
        align-self: flex-start;
        padding-right: 6rem;
        width: 49%;
    }
    .box-izquierda2 h3{
        font-size: 3.6rem;
        line-height: 4.1rem;
        text-align: left;
    }
    .box-izquierda2 p{
        color: var(--color-4);
        line-height: 2.6rem;
        text-align: left;
    }
    .list{
        margin-bottom: 1.5rem;
    }
    .list .num{
        font-size: 1.6rem;
        line-height: 2.3rem;
        padding: 1rem 2.5rem;
    }
    .list .header{
        background-color: var(--color-8);
    }
    .header h4{
        font-size: 1.6rem;
        line-height: 2.3rem;
        margin-left: 2.3rem;
    }
    footer .footer-nav{
        gap: 15rem;
    }
    /* declaro que dentro del media querie haya una pseudoclase para agregarle dinamismo al sitio */
    .header h4:hover{     
        background-color: var(--color-2);
        border-radius: 3rem;
        opacity: 0.9;
        padding: 1rem 2.5rem;
    }
    .opinions{
        align-items: center;
        flex-flow: row wrap;
        margin: 0 auto;
        width: 100%;
    }
    .box-derecha2 p{
        margin-left: 9rem;
    }
    .opinions h4{
        font-size: 4rem;
    }
    .opinions .cont-opinions .card-opinions{
        width: 43rem;
    }
    .opinions .cont-opinions .card-opinions .profilepic1{
        left: 18rem;
    }
    .opinions .cont-opinions .card-opinions .profilepic2{
        left: 18rem;
    }
    .opinions .cont-opinions .card-opinions .profilepic3{
        left: 18rem;
    }
    #mobile-oculto2{
        display: inline-block;
    }
    .opinions .center{
        margin-bottom: 18rem;
    }
    .main-end{
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 9rem 16.5rem;
    }
    .main-end .text-cont{
        width: 33vw;
    }
    .main-end .text-cont h4{
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 0rem;
        text-align: left;
    }
    footer{
        align-items: flex-start;
        flex-flow: row wrap;
        gap: 0rem;
        justify-content: space-between;
        padding: 5rem 16rem;
    }
    .logo-redes{
        align-items: flex-start;
        display: flex;
        flex-flow: column-reverse wrap;
        gap: 8rem;
        order: -1;
    }
    .social-media{
        gap: 2rem;
    }

    /* añado una animacion para cuando en el desktop pasen por encima de los iconos de las redes sociales */

    .social-media a:hover{
        transform: scale(1.5);
    }
    footer form{
        order: 1;
    }
    footer p{
        order: 2;
        text-align: right;
        width: 100%;
    }
    form button{
        margin-left: 2rem;
    }
    
}

/* 
añado otra media querie:
tome la decision de que una de de las tarjetas de opiniones se oculte cuando la 
pantalla sea menor de 1440px para que no rompa el flujo de la pagina */

@media screen and (min-width:1440px){
    
    #mobile-oculto1{
        display: inline-block;
    }
    .side-scroll{
        display: none;
    }
    
}
